@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5em;
  /* height: 100vh; */
}

nav .d-flex {
  padding: 0;
}

.nav-item {
  margin: 0 75px;
}

a {
  position: relative;
}

div .nav-item::after {
  content: "";
  position: absolute;
  background-color: greenyellow;
  height: 5px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

div .nav-item:hover::after {
  width: 100%;
}

.row {
}

.header {
  text-align: center;
}

hr {
  width: 10%;
  margin: auto;
  border: 0;
  border-top: 3px solid greenyellow;
  padding-bottom: 25px;
}

.main-title {
  padding-bottom: 15px;
}

.header-text {
  padding-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  .nav-item {
    margin: 0px;
  }
}

.jumbotron {
  width: calc(100% - 40px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 100px; */
}

/* section {
  background-image: url(./arbres-wallpaper-preview.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */
