@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5em;
  /* height: 100vh; */
}

.navbar {
  background: transparent;
}

nav .d-flex {
  padding: 0;
}

.nav-item {
  margin: 0 75px;
  text-align: left;
}

a {
  position: relative;
}

div .nav-item::after {
  content: "";
  position: absolute;
  background-color: greenyellow;
  height: 5px;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}

div .nav-item:hover::after {
  width: 100%;
}

.header {
  text-align: center;
}

hr {
  width: 10%;
  margin: auto;
  border: 0;
  border-top: 3px solid greenyellow;
  padding-bottom: 25px;
}

.main-title {
  padding-bottom: 15px;
}

.header-text {
  padding-bottom: 15px;
}

.jumbotro {
  width: calc(100% - 40px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.images {
  background-image: url(./images/forest-931706_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.images2 {
  background-image: url(./images/forest-1208296_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  background: rgba(203, 237, 181, 0.7);
}

.history {
  text-align: left;
}

/* .right {
  padding: 0 125px;
} */

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.arbre {
  margin: 0 auto;
}

.play-btn {
  background: greenyellow;
  color: #fff;
  font-size: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center;
  border-radius: 50%;
}

.fa-play {
  line-height: 100px;
  margin-left: 10px;
}

.play-btn::before,
.play-btn::after {
  content: "";
  position: absolute;
  border: 2px solid greenyellow;
  border-radius: 50%;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  animation: animate 1s linear infinite;
  opacity: 0;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

.text-btn-play {
  padding-top: 350px;
}

.service {
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.border-bottom1 {
  border-bottom: 1px solid lightgray;
}

.border-right1 {
  border-right: 1px solid lightgray;
}

.skills {
  padding-bottom: 100px;
}

.service:hover {
  background: #f8f9fa;
}

.service i {
  color: greenyellow;
  font-size: 50px;
  margin-bottom: 30px;
}

.service h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.service p {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .right {
    padding: 0 15px;
    padding-top: 50px;
  }

  .nav-item {
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .border-bottom1 {
    border: none;
  }

  .border-right1 {
    border: none;
  }
}
