@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5em;
  /* height: 100vh; */
}

.navbar {
  background: transparent;
}

nav .d-flex {
  padding: 0;
}

.nav-item {
  margin: 0 75px;
  text-align: left;
}

a {
  position: relative;
}

div .nav-item::after {
  content: "";
  position: absolute;
  background-color: greenyellow;
  height: 5px;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}

div .nav-item:hover::after {
  width: 100%;
}

.header {
  text-align: center;
}

hr {
  width: 10%;
  margin: auto;
  border: 0;
  border-top: 3px solid greenyellow;
  padding-bottom: 25px;
}

.main-title {
  padding-bottom: 15px;
}

.header-text {
  padding-bottom: 15px;
}

.jumbotro {
  width: calc(100% - 40px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.images {
  background-image: url(./forest-931706_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.images2 {
  background-image: url(./forest-1208296_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  background: rgba(203, 237, 181, 0.7);
}

.history {
  text-align: left;
}

/* .right {
  padding: 0 125px;
} */

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .right {
    padding: 0 15px;
    padding-top: 50px;
  }

  .nav-item {
    margin: 0px;
  }
}

.arbre {
  margin: 0 auto;
}
